/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
}

/* About Us Section */
.about-us {
  padding: 100px 20px;
  background-color: #bfc9c7;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Section Title */
.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: fadeIn 2s ease-in-out;
}

/* About Content Layout */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  max-width: 55%;
}

.company-name {
  font-size: 29px;
  font-weight: bold;
  color: #04004e;
  margin-bottom: 20px;
}

.mission-title {
  font-size: 28px;
  font-weight: bold;
  color: #04004e;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.8;
  color: #1a1919;
  margin-bottom: 15px;
  animation: fadeIn 2s ease-in-out;
}

.about-image {
  flex: 1;
  max-width: 40%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.05);
}

/* Eco-Friendly Section */
.eco-friendly {
  margin-top: 60px;
  padding: 40px;
  background-color: #2e3332;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.eco-friendly h3 {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.eco-friendly p {
  font-size: 20px;
  color: #f0f0f0;
  margin-bottom: 20px;
  text-align: center;
}

.eco-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.eco-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #004d40;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.eco-item:hover {
  transform: translateY(-10px);
}

.eco-icon {
  font-size: 40px;
  color: #fff;
  margin-right: 15px;
}

.eco-item p {
  font-size: 18px;
  color: #fff;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .about-image {
    max-width: 100%;
  }

  .eco-list {
    flex-direction: column;
    gap: 30px;
  }

  .eco-item {
    flex: none;
    width: 100%;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
